html,
body {
    height: 100%;
    /*background-color: #333;*/
    /*background-color: aliceblue;*/
}

body {
    /*color: #fff;*/
    color: black;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    /*box-shadow: inset 0 0 5rem rgba(0, 0, 255, .4);*/
}

/*input:required {*/
/*border-color: #dc3545;*/
/*}*/

.padded-button {
    padding-top: 5%;
    /*padding-bottom: 5%;*/
}

.wbdv-table-head {
    background: dodgerblue;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.login-form {
    /*border: 1px solid blu;*/
    background-color: steelblue;
    box-shadow: inset 0 0 5px rgba(34, 126, 236, .8);
    border-radius: 12px;
    padding: 5% 5%;
}

.login-form-container {

    padding: 10% 30%;
}

.register-form {
    /*border: 1px solid blu;*/
    background-color: steelblue;
    box-shadow: inset 0 0 5px rgba(34, 126, 236, .8);
    border-radius: 12px;
    padding: 5% 5%;
}

.register-form-container {
    padding: 6% 10%;
}

.profile-editor {
    background-color: steelblue;
    box-shadow: inset 0 0 5px rgba(34, 126, 236, .8);
    border-radius: 12px;
    padding: 5% 5%;
}

.profile-editor-container {
    padding: 5% 5%;
}

.profile-tabs {
    /*box-shadow: inset 0 0 5px rgba(34, 126, 236, .8);*/
    /*border-radius: 12px;*/
    /*padding: 5% 5%;*/
}

.profile-tabs-container {
    padding: 6% 10%;
}

.account-editor {
    background-color: lightskyblue;
    box-shadow: inset 0 0 5px rgba(34, 126, 236, .8);
    border-radius: 12px;
    padding: 5% 10%;
}

.account-editor-container {
    /*padding: 6% 10%;*/
}

.claim-restaurant-box {
    background-color: lightskyblue;
    box-shadow: inset 0 0 5px rgba(34, 126, 236, .8);
    border-radius: 12px;
    padding: 0 5%;
}

.order-list {
    background-color: lightskyblue;
    box-shadow: inset 0 0 5px rgba(34, 126, 236, .8);
    border-radius: 12px;
    padding: 5% 10%;
}

.order-list-container {
    /*padding: 6% 10%;*/
}

.order-widget {
    box-shadow: inset 0 0 5px rgba(34, 126, 236, .8);
    border-radius: 12px;
    padding: 5% 10%;
}

.order-widget-container {
    padding: 6% 10%;
}


.home-search-bar {
    padding: 1rem 1rem;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    background-size: cover;
    font-size: 140%;
}

@media (min-width: 576px) {
    .home-search-bar {
        padding: 1rem 2rem;
    }
}

.restaurant-search-bar {
    padding: 1rem 1rem;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    background-size: cover;
    font-size: 140%;
}

@media (min-width: 576px) {
    .restaurant-search-bar {
        padding: 1rem 2rem;
    }
}

.order-editor {
    font-size: 120%
}

.menu {
    font-size: 150%
}
